---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import blackbird from "/public/bluebird musta.png";
import vento from "/public/vento1.png";
import katiskaproto from "/public/katiskaproto.png";
import katiskajulkaisu from "/public/katiskajulkaisu.png";
import volvocityl from "/public/volvocityl.png";
import comet from "/public/comet.png";
import vento2 from "/public/vento2.png";
import renkaat from "/public/ruosterenkaat.png";
import roskat from "/public/roskat.png";
import fivesix from "/public/fivesiks.png";
---

<Layout pageTitle="Blogi | Laemkri">
  <div class="container my-4">
    <h1 data-aos="fade-down" class="text-center gradient-title opintootsikko">
      Blogi
    </h1>
    <hr class="otsikkohr mb-4" />
    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">FiveSix:n nettisivut</h1>
        <h5>Kuvitteellisen FiveSix kaupan nettisivut</h5>
        <p class="text-underline">20.5.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={fivesix} alt="Vento" />
      </div>
    </div>
    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Finngame97</h1>
        <h5>Finngame yksityiskohtia 1.5.2024</h5>
        <p class="text-underline">1.5.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={roskat} alt="Vento" />
      </div>
    </div>
    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">
          Volkswagen Vento <span class="red"> VR6 </span>
        </h1>
        <h5>Vento projektia edistetty 30.4.2024</h5>
        <p class="text-underline">1.5.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={vento2} alt="Vento" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h5>Vento projekti Blenderiss채 aloitettu 29.4.2024</h5>
        <p class="text-underline">30.4.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={vento} alt="Vento" />
      </div>
    </div>
    <hr class="keltanenhr" />
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
        <h1 class="aliotsikko">Nissan Bluebird 1.6 SLX</h1>
        <h5>Auto tuotu Unityyn Blenderist채 29.4.2024</h5>
        <p class="text-underline">29.4.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="500">
        <Image class="img-fluid rounded" src={blackbird} alt="Bluebird T12" />
      </div>
    </div>
    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
        <h1 class="aliotsikko">Ravintola Katiska Julkaisu</h1>
        <p class="text-underline">24.4.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image
          class="img-fluid rounded"
          src={katiskajulkaisu}
          alt="Bluebird T12"
        />
      </div>
    </div>

    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Ravintola Katiska Prototyyppi</h1>
        <p class="text-underline">20.3.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image
          class="img-fluid rounded"
          src={katiskaproto}
          alt="Bluebird T12"
        />
      </div>
    </div>

    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Volvo City L (2004)</h1>
        <h5>Projekti Blenderiss채</h5>
        <p class="text-underline">3.9.2023</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={volvocityl} alt="Bluebird T12" />
      </div>
    </div>
    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Mercury Comet (1964)</h1>
        <h5>Projekti Blenderiss채</h5>

        <p class="text-underline">15.5.2023</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={comet} alt="Bluebird T12" />
      </div>
    </div>
  </div>
</Layout>
