---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import katiskajulkaisu from "/public/katiskajulkaisu.png";
import volvocityl from "/public/volvocityl.png";
import comet from "/public/comet.png";
import fivesix from "/public/fivesiks.png";
import alpine from "/public/alpine.png";
import autoetu from "/public/auto-etu.png";
import s23u from "/public/s23u.png";
import nokia3250 from "/public/3250.png";
---

<Layout pageTitle="Blogi | Laemkri">
  <div class="container my-4">
    <h1 data-aos="fade-down" class="text-center gradient-title opintootsikko">
      Blogi
    </h1>
    <hr class="otsikkohr mb-4" />
    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Nokia 3250 Xpressmusic</h1>
        <h5>Blender projekti</h5>
        <p class="text-underline">04.02.2025</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={nokia3250} alt="Nokia" />
      </div>
    </div>

    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Datsun 610 - Bluebird (vm.1976)</h1>
        <h5>Blender projekti</h5>
        <p class="text-underline">22.01.2025</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={autoetu} alt="Vento" />
      </div>
    </div>

    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Samsung Galaxy S23 Ultra</h1>
        <h5>Blender projekti</h5>
        <p class="text-underline">12.01.2025</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={s23u} alt="Vento" />
      </div>
    </div>

    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Alpine soitin</h1>
        <h5>Blender projekti</h5>
        <p class="text-underline">10.07.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={alpine} alt="Vento" />
      </div>
    </div>

    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Kuvitteellisen verkkokaupan nettisivut</h1>
        <h5>
          Koulu projekti: yksinkertainen sivusto joka tehty käyttäen <span class="kielet">WordPressiä</span>
        </h5>
        <p class="text-underline">20.05.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={fivesix} alt="Vento" />
      </div>
    </div>

    <hr class="keltanenhr" />
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
        <h1 class="aliotsikko">Kuvitteellisen ravintolan nettisivut</h1>
        <h5>
          Koulu projekti: päätavoitteet olivat, responsiivisuus,
          helppokäyttöisyys, ulkoasu ja latausnopeudet. <span class="kielet">HTML, CSS, JavaScript, Astro, Bootstrap</span>
        </h5>
        <p class="text-underline">24.04.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image
          class="img-fluid rounded"
          src={katiskajulkaisu}
          alt="Bluebird T12"
        />
      </div>
    </div>
    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Volvo City L (vm.2004)</h1>
        <h5>Blender projekti</h5>
        <p class="text-underline">03.09.2023</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={volvocityl} alt="Bluebird T12" />
      </div>
    </div>
    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="aliotsikko">Mercury Comet (vm.1964)</h1>
        <h5>Blender projekti</h5>

        <p class="text-underline">15.05.2023</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={comet} alt="Bluebird T12" />
      </div>
    </div>
  </div>
</Layout>
