---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import blackbird from "/public/bluebird musta.png";
import vento from "/public/vento1.png";
import katiskaproto from "/public/katiskaproto.png";
import katiskajulkaisu from "/public/katiskajulkaisu.png";
import volvocityl from "/public/volvocityl.png";
import comet from "/public/comet.png";
import vento2 from "/public/vento2.png";
import renkaat from "/public/ruosterenkaat.png";
import roskat from "/public/roskat.png";
---

<Layout pageTitle="Blogi | Laemkri">
  <div class="container my-4">
    <h1 data-aos="fade-down" class="text-center gradient-title opintootsikko">
      Blogi
    </h1>
    <hr class="otsikkohr mb-4" />
    <div class="row">
      <hr class="keltanenhr" />
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="800">
        <h1 class="opintootsikko">Finngame 97</h1>
        <h5>Yksityiskohtaisia uudistuksia karttaan</h5>
        <p class="text-underline">7.5.2024</p>
      </div>
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="500">
        <Image class="img-fluid rounded" src={renkaat} alt="Bluebird T12" />
      </div>
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="500">
        <Image class="img-fluid rounded" src={roskat} alt="Bluebird T12" />
      </div>
    </div>
    <div class="row my-5">
      <hr class="keltanenhr" />
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="opintootsikko">
          Volkswagen Vento <span class="red"> VR6 </span>
        </h1>
        <h5>Vento projektia edistetty 30.4.2024</h5>
        <p class="text-underline">1.5.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={vento2} alt="Vento" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
        <Image class="img-fluid rounded" src={vento} alt="Vento" />
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="500">
        <h5>Vento projekti Blenderiss채 aloitettu 29.4.2024</h5>
        <p class="text-underline">30.4.2024</p>
      </div>
    </div>
    <hr class="keltanenhr" />
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
        <h1 class="opintootsikko">Nissan Bluebird 1.6 SLX</h1>
        <h5>Auto tuotu Unityyn Blenderist채 29.4.2024</h5>
        <p class="text-underline">29.4.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="500">
        <Image class="img-fluid rounded" src={blackbird} alt="Bluebird T12" />
      </div>
    </div>
    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="800">
        <h1 class="opintootsikko">Ravintola Katiska Julkaisu</h1>
        <p class="text-underline">24.4.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image
          class="img-fluid rounded"
          src={katiskajulkaisu}
          alt="Bluebird T12"
        />
      </div>
    </div>

    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="opintootsikko">Ravintola Katiska Prototyyppi</h1>
        <p class="text-underline">20.3.2024</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image
          class="img-fluid rounded"
          src={katiskaproto}
          alt="Bluebird T12"
        />
      </div>
    </div>

    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="opintootsikko">Volvo City L (2004)</h1>
        <h5>Projekti Blenderiss채</h5>
        <p class="text-underline">3.9.2023</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={volvocityl} alt="Bluebird T12" />
      </div>
    </div>
    <hr class="keltanenhr" />

    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="500">
        <h1 class="opintootsikko">Mercury Comet (1964)</h1>
        <h5>Projekti Blenderiss채</h5>

        <p class="text-underline">15.5.2023</p>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="800">
        <Image class="img-fluid rounded" src={comet} alt="Bluebird T12" />
      </div>
    </div>
  </div>
</Layout>

<style>
  p {
    color: #fff;
  }

  .opintootsikko {
  font-family: SF;
  font-weight: 100;
  font-size: 26px;
  background: #ff0080;
  background: linear-gradient(to right, #d8d000 0%, #ff0080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  .vento {
    font-family: Wolfsburg-Regular;
  }

  .bluebird {
    font-family: Nissan;
  }
</style>
