---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Camaro1123 from "../../public/Camaro 1-1-23.jpg";
import Camaro30123 from "../../public/Camaro 30-1-23.png";
import Carshop from "../../public/Carshop 11-01-24.png";
import NaantaliSPA from "../../public/naantali spa proto 23-01-24.png";
import Note3 from "../../public/Note 3 13-04-23.jpg";
import skyteam from "/public/monke.png";
import honda from "/public/honda.jpg";
import blackbird from "/public/bluebird musta.png";
import taustapieni from "/public/taustapieni.png";
import bmw from "/public/bmw.png";
import corvette from "/public/csorvette.png";
import aulas from "/public/aulas.png";
import taivas2 from "/public/taivas2.png";
import skoda from "/public/skoda.png";
import ifon from "/public/ifon.png";
import audiclim from "/public/audiclim.png";
import dart from "/public/dart.png";
import talvimaisema from "/public/talvimaisema.png";
import Taipelit from "/public/TAI_Pelit.png";
import fivesix from "/public/fivesix.png";
import autoetu from "/public/auto-etu.png";
import autosisa from "/public/auto-sisä.png";
import autotaka from "/public/auto-taka.png";
import nokia3250 from "/public/3250.png";
import de from "/public/Dassen emblem.png";

---

<Layout pageTitle="Galleria | Laemkri">
  <div class="my-4"></div>
  <div class="container">
    <h1 data-aos="fade-down" class="text-center gradient-title opintootsikko">
      Galleria
    </h1>
    <hr class="otsikkohr" />
    <div class="row justify-content-center">
      <div class="my-4"></div>
      <h1 data-aos="fade-right">Valokuvia</h1>
      <hr class="keltanenhr" />
      <div class="container" data-aos="fade" data-aos-duration="5000">
        <div class="row">
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={skyteam} alt="skyteam" />
          </div>
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={honda} alt="honda" />
          </div>
          <div class="col-md-4">
            <Image
              class="img-cover img-fluid"
              src={taustapieni}
              alt="auringonlasku"
            />
          </div>
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={bmw} alt="bmw" />
          </div>
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={corvette} alt="yötaivas" />
          </div>
          <div class="col-md-4">
            <Image
              class="img-cover img-fluid"
              src={aulas}
              alt="auringonlasku"
            />
          </div>
          <div class="col-md-4">
            <Image
              class="img-cover img-fluid"
              src={taivas2}
              alt="auringonlasku ja turun maisema"
            />
          </div>
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={skoda} alt="skyteam" />
          </div>
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={ifon} alt="iphone" />
          </div>
          <div class="col-md-4">
            <Image
              class="img-cover img-fluid"
              src={audiclim}
              alt="audi sisusta"
            />
          </div>
          <div class="col-md-4">
            <Image class="img-cover img-fluid" src={dart} alt="dart" />
          </div>
          <div class="col-md-4">
            <Image
              class="img-cover img-fluid"
              src={talvimaisema}
              alt="talvimaisema"
            />
          </div>
        </div>
      </div>
      <p class="my-5"></p>
      <h1 data-aos="fade-right">Blender & Unity</h1>
      <hr class="keltanenhr" />
      <div
        data-aos="fade"
        data-aos-duration="2200"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={autosisa} alt="Audi S4" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="2200"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={autotaka} alt="VW Vento" />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="2200"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={autoetu} alt="VW Vento" />
      </div>
    
      <div
        data-aos="fade"
        data-aos-duration="800"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Camaro1123} alt="Camaro" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Camaro30123} alt="Camaro" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1200"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={blackbird} alt="Bluebird" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1400"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Carshop} alt="Autokauppa" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1800"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Note3} alt="Note3" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="2000"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={NaantaliSPA} alt="Naantali SPA" />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="2000"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={nokia3250} alt="Nokia 3250" />
      </div>

      <div
        data-aos="fade"
        data-aos-duration="2000"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={de} alt="Nokia 3250" />
      </div>
      

      <p class="my-5"></p>
      <h1 data-aos="fade-right">Adobe Illustrator</h1>
      <hr class="keltanenhr" />
      <div
        data-aos="fade"
        data-aos-duration="800"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="front-img-cover" src={Taipelit} alt="Tai pelit logo" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="800"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="front-img-cover" src={fivesix} alt="Tai pelit logo" />
      </div>
    </div>
    <p class="my-5"></p>
  </div>
</Layout>
