---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Camaro1123 from "../../public/Camaro 1-1-23.jpg";
import Camaro30123 from "../../public/Camaro 30-1-23.png";
import Camaro301232 from "../../public/Camaro 30-1-23(2).png";
import Carshop from "../../public/Carshop 11-01-24.png";
import Climate from "../../public/19-09-23.png";
import NaantaliSPA from "../../public/naantali spa proto 23-01-24.png";
import Note3 from "../../public/Note 3 13-04-23.jpg";
import AudiS4C4 from "../../public/Audi S4 C4.png";
import monkeytarrat from "../../public/monkey tarrat.png";
import katiska from "../../public/katiska logo.png";
import laemkri from "../../public/Laemkri logo.png";
import union from "../../public/UNION.png";
import dimensiontest from "/public/Dimension test.png";
import gs2cm11 from "/public/galaxys2cm11.jpeg";
import skyteam from "/public/skyteam.jpeg";
import honda from "/public/honda.jpg";
import peli97 from "/public/finngm.png";
import katiskapuh from "/public/14pro.png";
import katiskamac from "/public/katiskamac.png";
import blackbird from "/public/bluebird musta.png";
---

<Layout pageTitle="Galleria | Laemkri">
  <div class="my-4"></div>
  <div class="container">
    <h1 data-aos="fade-down" class="text-center gradient-title">Galleria</h1>
    <hr class="otsikkohr" />
    <div class="row justify-content-center">
      <div class="my-4"></div>
      <h1 data-aos="fade-right">Blender & Unity</h1>
      <hr class="keltanenhr" />
      <div
        data-aos="fade"
        data-aos-duration="800"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Camaro1123} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1000"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Camaro30123} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1200"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={blackbird} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1400"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Carshop} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1600"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Climate} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="1800"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={Note3} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="2000"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={NaantaliSPA} alt="" />
      </div>
      <div
        data-aos="fade"
        data-aos-duration="2200"
        class="col-xxl-3 col-xl-4 col-md-6"
      >
        <Image class="img-cover" src={AudiS4C4} alt="" />
      </div>
    </div>

    <p class="my-5"></p>

    <h1 data-aos="fade-right">Adobe Photoshop</h1>
    <hr class="keltanenhr" />
    <div class="col-xxl-3 col-xl-4 col-md-6">
      <Image class="img-cover" src={monkeytarrat} alt="" />
    </div>

    <p class="my-5"></p>

    <h1 data-aos="fade-right">Adobe InDesign</h1>
    <hr class="keltanenhr" />
    <div class="col-xxl-3 col-xl-4 col-md-6">
      <Image class="img-cover" src={peli97} width="400" alt="" />
    </div>

    <div class="row justify-content-center"></div>
    <p class="my-5"></p>

    <h1 data-aos="fade-right">Adobe Dimension</h1>
    <hr class="keltanenhr" />
    <div class="row">
      <div class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={dimensiontest} alt="" />
      </div>
    </div>

    <p class="my-5"></p>

    <h1 data-aos="fade-right">Puhelimet</h1>
    <hr class="keltanenhr" />
    <div class="container">
      <div class="row">
        <div class="col-6 img-fluid">
          <Image height={400} src={gs2cm11} alt="galaxy s2" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center"></div>

    <p class="my-5"></p>

    <h1 data-aos="fade-right">Mopot</h1>
    <hr class="keltanenhr" />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <Image class="img-cover img-fluid" src={skyteam} alt="skyteam" />
        </div>
        <div class="col-md-3">
          <Image class="img-cover img-fluid" src={honda} alt="honda" />
        </div>
      </div>
    </div>
    <p class="my-5"></p>

    <style>
      a {
        color: #d8d000;
        text-decoration: none;
        font-family: SF;
      }

      a:hover {
        color: #d8d000;
      }

      a:active {
        color: #d8d000;
      }
      p {
        color: aliceblue;
        font-family: SF;
      }
      h1 {
        color: aliceblue;
        font-family: SF;
      }
      .card {
        background-color: rgba(173, 39, 39, 0);
        border: none;
      }
    </style>
  </div>
</Layout>
