---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Camaro30123 from "../../public/Camaro 30-1-23.png";
import bmw from "/public/bmw.png";
import comet from "/public/comet.png";
import mojave from "/public/Mojave.jpg";
import linkedin from "/public/Linkedin.png";
import github from "/public/github.png";
import instagram from "/public/Instagram.png";
import Arrow from "../components/Arrow.astro";
---

<Layout pageTitle="Laemkri">
  <div class="hero-image">
    <div class="row">
      <div class="hero">
        <div class="col-md-12 mb-4" data-aos="fade">
          <h1 class="nimi">Lauri Raitio</h1>
          <p class="my-4"></p>
          <p class="alaotsikko">
            Tervetuloa sivuilleni, täältä pääset tutustumaan materiaaleihin sekä
            projekteihini. <br /> Nettisivulle päivittyy
            aina uusia projekteja kun niitä tulee. <br /> Päivittelen sivuille myös
            keskeneräisiä projekteja.
          </p>
          <p class="mb-4"></p>
          <button onclick="document.location='/projektit/'" class="btn"
            >PROJEKTIT</button
          >
        </div>
        <div class="col-md-3 mx-auto my-5">
          <a href="https://www.instagram.com/mankilauri/" class="mx-1">
            <Image src={instagram} alt="instagram" class="instagram" />
          </a>
          
          <a href="https://www.linkedin.com/in/lauri-raitio-8827b5291/" class="mx-2">
            <Image src={linkedin} alt="linkedin" class="linkedin" />
          </a>
          <a href="https://github.com/realR4PT0R1" class="mx-2">
            <Image src={github} alt="github" class="github" />
          </a>
        </div>
        <Arrow></Arrow>
      </div>
    </div>
  </div>
  <p class="my-5"></p>
  <div class="container">
    <p class="my-5"></p>
    <div class="row">
      <div data-aos="fade" class="col-md-6">
        <Image src={comet} alt="comet" class="front-img-cover" />
      </div>
      <div data-aos="fade" class="col-md-6">
        <h1>Blogi</h1>
        <p class="my-4"></p>
        <p class="alaotsikko">Päivittelen blogiin tulevia projekteja.</p>
        <p class="mb-4"></p>
        <button onclick="document.location='/blogi'" class="btn">BLOGI</button>
      </div>
      <p class="my-5"></p>
    </div>
  </div>

  <div class="container">
    <p class="mx-5"></p>
    <div class="row">
      <div data-aos="fade" class="col-md-6 mb-4">
        <h1>Valokuviani</h1>
        <p class="my-4"></p>
        <p class="alaotsikko">
          Voit tutustua valokuviini ja muuhun kuvattuun tai tehtyyn
          kuvamateriaaliin Galleria-sivulta
        </p>
        <p class="mb-4"></p>
        <button onclick="document.location='/galleria'">GALLERIA</button>
      </div>
      <div data-aos="fade" class="col-md-6">
        <Image src={bmw} width={600} alt="kuvia" class="front-img-cover" />
      </div>
    </div>
    <p class="my-5"></p>
  </div>
</Layout>

<style>
  button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 12em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    font-family: SF;
    letter-spacing: 0.2em;
  }

  button:hover {
    animation: ani 8s linear infinite;
    border: none;
    color: #fff;
    transition: 0.3s;
    font-weight: 700;
  }

  @keyframes ani {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 400%;
    }
  }

  button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #fa269e, #f7e119, #f441a5, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }

  button:hover::before {
    filter: blur(20px);
  }

  button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  }

  .space {
    height: 80px;
  }

  .info {
    width: 90px;
    height: 90px;
  }

  .nimi {
    text-shadow: 1px 1px 2px #d8d000, 0 0 1em red, 0 0 0.2em #ff0080;
    font-size: 49px;
    font-family: SF;
  }

  h1 {
    font-family: SF;
    font-weight: 700;
    color: #212121;
    background: linear-gradient(to right, #d8d000, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.08em transparent;
  }

  h5 {
    font-family: SF;
    font-weight: 100;
    color: white;
    letter-spacing: 0.5px;
  }

  a {
    color: #d8d000;
  }

  .hero-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.684),
        rgba(52, 0, 0, 0.575)
      ),
      url("/public/Mojave.jpg");
    height: 50%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 900px;
    object-fit: cover;
  }

  .hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .github {
      width: 38px;
      height: 38px;
    }

    .linkedin {
      width: 40px;
      height: 40px;
    }

    .instagram {
      width: 38px;
      height: 38px;
    }
    
</style>
