---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Camaroulko from "../../public/Camaro 1-1-23.jpg";
import Camarosisäyö from "../../public/Camaro 30-1-23.png";
import Camarosisäpäivä from "../../public/Camaro 30-1-23(2).png";
import Carshop from "../../public/Carshop 11-01-24.png";
import Climate from "../../public/19-09-23.png";
import NaantaliSPA from "../../public/naantali spa proto 23-01-24.png";
import Note3 from "../../public/Note 3 13-04-23.jpg";
import AudiS4C4 from "../../public/Audi S4 C4.png";
import monkeytarrat from "../../public/monkey tarrat.png";
import katiska from "../../public/katiska logo.png";
import laemkri from "../../public/Laemkri logo.png";
import union from "../../public/UNION.png";
import dimensiontest from "/public/Dimension test.png";
import gs2cm11 from "/public/galaxys2cm11.jpeg";
import skyteam from "/public/skyteam.jpeg";
import honda from "/public/honda.jpg";
import peli97 from "/public/finngm.png";
import katiskapuh from "/public/14pro.png";
import katiskamac from "/public/katiskamac.png";
import unitypeli from "/public/unitypeli.png";
import bluebirdlogo from "/public/bluebird logo.png";
import bluebirdinterior from "/public/bluebird sisusta.png";
import pelitalot from "/public/pelitalot.png";
import risteys from "/public/risteys.png";
import audi from "/public/audi s6.png";
import blackbird from "/public/bluebird musta.png";
---

<Layout pageTitle="Projektit | Laemkri">
  <title>Näytteet | Laemkri</title>
  <div class="my-3"></div>
  <div class="container">
    <h1 data-aos="fade-down" class="text-center gradient-title">Projektit</h1>
    <hr class="otsikkohr" />
    <div class="row justify-content-center">
      <div class="my-4"></div>
      <h1 data-aos="fade">Ravintola Katiskan Sivut</h1>
      <hr class="keltanenhr" />
      <p data-aos="fade">
        Uudistetut kotisivut ravintolalle. Käytetty: HTML, CSS, JS, ASTRO
      </p>
      <hr class="keltanenhr" />
      <div class="row">
        <div data-aos="fade-right" class="col-lg-5 text-center">
          <Image class="img-fluid" height={450} src={katiskapuh} alt="iphone" />
        </div>
        <div data-aos="fade-left" class="col-lg-7 d-none d-lg-block">
          <Image
            class="img-fluid"
            height={450}
            src={katiskamac}
            alt="macbook"
          />
        </div>
      </div>

      <div class="my-5"></div>
      <h1 data-aos="fade">Finngame 97 & Nissan Bluebird T12</h1>
      <hr class="keltanenhr" />
      <p class="alaotsikko" data-aos="fade">
        Suomalainen 1990-luvun teemainen peli. Käytetty: Unity, Blender, Adobe
        InDesign, Adobe Photoshop
      </p>
      <hr class="keltanenhr" />
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={unitypeli} alt="Unitypeli" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={peli97} width="400" alt="juliste" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={blackbird} alt="sitirentti" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={bluebirdlogo} width="400" alt="juliste" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={bluebirdinterior} alt="sitirentti" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={pelitalot} alt="sitirentti" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={risteys} alt="sitirentti" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={audi} alt="sitirentti" />
      </div>

      <div class="my-5"></div>
      <h1 data-aos="fade">Chevrolet Camaro SS 1967</h1>
      <hr class="keltanenhr" />
      <p class="alaotsikko"data-aos="fade">
        Chevrolet 3D-mallinnus projekti. Käytetty: Blender
      </p>
      <hr class="keltanenhr" />
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={Camaroulko} alt="camarokuva" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={Camarosisäyö} alt="camarokuva" />
      </div>
      <div data-aos="fade" class="col-xxl-3 col-xl-4 col-md-6">
        <Image class="img-cover" src={Camarosisäpäivä} alt="camarokuva" />
      </div>
    </div>
    <p class="my-5"></p>

    <h1 data-aos="fade-right">Puhelimet</h1>
    <hr class="keltanenhr" />
    <p class="alaotsikko" data-aos="fade">
      Toiminut harrastuksena: Käyttöjärjestelmien asunnus (mainittu muutama),
      korjaus ja keräily.
    </p>
    <hr class="keltanenhr" />

    <div class="row">
      <div data-aos="fade" class="col-md-3">
        <Image
          class="img-fluid rounded"
          height={400}
          src={gs2cm11}
          alt="galaxy s2"
        />
      </div>
      <div data-aos="fade" class="col-md-6">
        <p>LG (Google) Nexus 5: CyanogenMOD 11S, TWRP</p>
        <p>Samsung Galaxy S2: CyanogenMOD 11, TWRP</p>
        <p>Samsung Galaxy S2: Andorid 4.0.3, ODIN</p>
        <p>Samsung Galaxy S2: Andorid 6.0, ODIN</p>
        <p>Samsung Galaxy Note 9: SE 9.5, ODIN</p>
        <p>Apple iPhone 5S: Jailbreak, Cydia</p>
      </div>
    </div>

    <div class="row justify-content-center"></div>

    <p class="my-5"></p>

    <h1 data-aos="fade-right">Mopot</h1>
    <hr class="keltanenhr" />
    <p class="alaotsikko" data-aos="fade">
      Skyteam Monkey: Tuunaus mopo, Honda Monkey: latolöytö
    </p>
    <hr class="keltanenhr" />

    <div class="row my-5">
      <div data-aos="fade" class="col-sm-6">
        <p class="alaotsikko">
          Skyteamia on laiteltu kuntoon monien satojen edestä mm: vaihtamalla
          osia, jolloin ulkonäöstä on saatu omanlainen, eli osia on vaihdettu
          paljon, mopo toimi omana harrastuksenani
        </p>
        <p class="alaotsikko">
          Honda Monkey on "latolöytö" joka oli ollut käyttämättömänä 1991-2021
        </p>
      </div>
      <div data-aos="fade" class="col-sm-3 mb-3">
        <Image
          class="img-fluid rounded"
          height={800}
          src={skyteam}
          alt="skyteam"
        />
      </div>
      <div data-aos="fade" class="col-sm-3">
        <Image class="img-fluid rounded" src={honda} alt="honda" />
      </div>
    </div>

    <style>
      a {
        color: #d8d000;
        text-decoration: none;
        font-family: SF;
      }

      a:hover {
        color: #d8d000;
      }

      a:active {
        color: #d8d000;
      }
      p {
        color: rgb(255, 255, 255);
        font-family: SF;
      }
      h1 {
        color: rgb(255, 255, 255);
        font-family: SF;
      }

      h5 {
        letter-spacing: 1px;
      }
      .card {
        background-color: rgba(173, 39, 39, 0);
        border: none;
      }
    </style>
  </div>
</Layout>
