---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import katiskapuh from "/public/14pro.png";
import katiskamac from "/public/katiskamac.png";
import macfivesix from "/public/macmocfivesix.png";
import puhfivesix from "/public/puhmocfivesix.png";
import projekti3 from "/public/Projekti 3-vuosi.png";
import autosisa from "/public/auto-sisä.png";
import autoetu from "/public/auto-etu.png";
import autotaka from "/public/auto-taka.png";
import autologo from "/public/auto-logo.png";
import nokia3250 from "/public/3250.png";
import nokia32501 from "/public/32501.png";
---

<Layout pageTitle="Projektit | Laemkri">
  <div class="my-3"></div>
  <div class="container">
    <h1 data-aos="fade-down" class="text-center gradient-title opintootsikko">
      Projektit
    </h1>
    <hr class="otsikkohr" />

    <div class="my-4"></div>
    <h1 data-aos="fade">Nokia 3250 Xpressmusic</h1>
    <hr class="keltanenhr" />
    <p data-aos="fade">
      Nokia 3250 Blender projekti
    </p>
    <hr class="keltanenhr" />
    <div class="row">
      <div data-aos="fade-right" class="col-lg-5 text-center">
        <Image class="img-fluid rounded" height={450} src={nokia3250} alt="nokia" />
      </div>
      <div data-aos="fade-left" class="col-lg-5 text-center">
        <Image class="img-fluid rounded" height={450} src={nokia32501} alt="nokia" />
      </div>
    </div>

    <div class="my-4"></div>
    <h1 data-aos="fade">Datsun 610 | 180B | 1976</h1>
    <hr class="keltanenhr" />
    <p data-aos="fade">
      Blenderissä tehty ja renderöity Datsun projekti
    </p>
    <hr class="keltanenhr" />
    <div class="row">
      <div data-aos="fade-right" class="col-lg-5 text-center">
        <Image class="img-fluid rounded" height={450} src={autosisa} alt="sisusta" />
      </div>
      <div data-aos="fade-left" class="col-lg-5 text-center">
        <Image class="img-fluid rounded" height={450} src={autoetu} alt="etuosa" />
      </div>
      <div data-aos="fade-right" class="col-lg-5 text-center">
        <Image class="img-fluid rounded" height={450} src={autotaka} alt="takaosa" />
      </div>
      <div data-aos="fade-left" class="col-lg-5 text-center">
        <Image class="img-fluid rounded" height={450} src={autologo} alt="sivulogo" />
      </div>
    </div>

    <div class="my-4"></div>
    <h1 data-aos="fade">Sovelluksen ulkoasun suunnittelu projekti</h1>
    <hr class="keltanenhr" />
    <p data-aos="fade">
      Tehtävänäni oli luoda monikäyttöisen sovelluksen ulkoasu Figman avulla, josta toteutettiin Android sovellus.
    </p>
    <hr class="keltanenhr" />
    <div class="row">
      <div data-aos="fade-right" class="col-lg-5 text-center">
        <Image class="img-fluid" height={450} src={projekti3} alt="sovellus" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="my-4"></div>
      <h1 data-aos="fade">FiveSix:n sivut</h1>
      <hr class="keltanenhr" />
      <p data-aos="fade">Kotisivut merkki-kaupalle Wordpressillä</p>
      <hr class="keltanenhr" />
      <div class="row">
        <div data-aos="fade-right" class="col-lg-5 text-center">
          <Image class="img-fluid" height={450} src={puhfivesix} alt="iphone" />
        </div>
        <div data-aos="fade-left" class="col-lg-7 d-none d-lg-block">
          <Image
            class="img-fluid"
            height={450}
            src={macfivesix}
            alt="macbook"
          />
        </div>
      </div>

      <div class="my-4"></div>
      <h1 data-aos="fade">Ravintola Katiskan sivut</h1>
      <hr class="keltanenhr" />
      <p data-aos="fade">
        Uudistetut kotisivut ravintolalle. Käytetty: HTML, CSS, JavaScript, Astro, Bootstrap
      </p>
      <hr class="keltanenhr" />
      <div class="row">
        <div data-aos="fade-right" class="col-lg-5 text-center">
          <Image class="img-fluid" height={450} src={katiskapuh} alt="iphone" />
        </div>
        <div data-aos="fade-left" class="col-lg-7 d-none d-lg-block">
          <Image
            class="img-fluid"
            height={450}
            src={katiskamac}
            alt="macbook"
          />
        </div>
      </div>
    </div>
    <p class="my-5"></p>

    <style>

      h1 {
        color: #fff;
        font-family: SF;
      }
    </style>
  </div>
</Layout>
